<!DOCTYPE html>
<html>

<head>
    <title>Request Approved</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }
        
        h1 {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }
        
        ul {
            list-style: none;
            padding: 0;
        }
        
        li {
            background-color: #fff;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        strong {
            font-weight: bold;
            margin-right: 10px;
        }
        
        span {
            font-weight: normal;
            color: #555;
        }
    </style>
</head>

<body>
    <h1>Resource
        <%= emailData.status%>
            <%=emailData.type %>
    </h1>
    <p>Hello
        <%= emailData.receiverName %>,</p>
    <p>Your request has been
        <%= emailData.status%>.</p>
    <p>Details:</p>
    <ul>
        <% for (const key in emailData) { %>
            <% if (key != 'sendEmail' || key != 'receiverName') { %>
                <li>

                    <strong><%= key %>:</strong>
                    <span><%= emailData[key] %></span>
                </li>
                <% } %>
                    <% } %>
    </ul>
    <p>Thank you for using our services.</p>
    <p>Best regards,<br>Your Team</p>
</body>

</html>